Framework.WebUI/Connected Services/TahsilatService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cls.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cls.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTahsilat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tahsilat" nillable="true" type="tns:Tahsilat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTahsilat" nillable="true" type="tns:ArrayOfTahsilat" />
  <xs:complexType name="Tahsilat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artan" type="xs:int" />
      <xs:element minOccurs="0" name="Azaltan" type="xs:int" />
      <xs:element minOccurs="0" name="GenelToplam" type="xs:decimal" />
      <xs:element minOccurs="0" name="MakbuzNo" type="xs:int" />
      <xs:element minOccurs="0" name="OdemeTar" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OdenenTutar" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sonuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TahakkukNo" type="xs:int" />
      <xs:element minOccurs="0" name="TahakkukTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TahakukTutar" type="xs:decimal" />
      <xs:element minOccurs="0" name="VezneNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tahsilat" nillable="true" type="tns:Tahsilat" />
</xs:schema>